.frontend-section {
    --dev-box-width: 30rem;
    .dev-boxes-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, var(--dev-box-width));
        justify-content: center;
        gap: 4rem;

        .rest-api-dev {
            .dev-box__img {
                background-image: url('../img/rest-api.png');
            }
        }
        
        .photosnap-dev {
            .dev-box__img {
                background-image: url('../img/photosnap.png');
            }
        }
        
        .space-tourism-dev {
            .dev-box__img {
                background-image: url('../img/space-tourism.png');
            }
        }
    }
    
    @media screen and (min-width: $minWidthBigSmartphone) {
        --dev-box-width: 40rem;
    }
    
    @media screen and (min-width: $minWidthDesktop) {
        .dev-boxes-container {
            justify-content: space-between;
        }
    }
}
