.main-header {
    display: flex;
    padding: 1rem 0 1rem 0;
    .me-img {
        --me-img-clamp-values : clamp(4rem, 14vw, 9rem);
        width: var(--me-img-clamp-values);
        height: var(--me-img-clamp-values);
        border-radius: 50%;
        overflow: hidden;
    }
    
    .header-nav {
        display: none;
    }
}
