.intro-section {
    display: flex;
    flex-direction: column;

    .header-2 {
        margin-bottom: 1.3rem;
        .surname {
            display: none;
        }
    }
    
    .intro-paragraph {
        margin-bottom: 0.8rem;
        font-size: 2.4rem;
    }
}
