.heading-2, .heading-1, .heading-3 {
    text-transform: uppercase;
    text-align: center;
}

.heading-1 {
    font-size: clamp(2rem, 5.821vw, 8.2rem);
}

.heading-2 {
    @include fluid-type(font-size, 375px, 1440px, 20px, 50px);
}

.heading-3 {
    @include fluid-type(font-size, 375px, 1440px, 16px, 22px);
}

.section-title {
    margin-bottom: 4rem;
}

.default-paragraph {
    line-height: 1.4;
    max-width: 70rem;
    font-size: 1.8rem;
}

@media screen and (min-width: $minWidthDesktop) {
    .section-title {
        margin-bottom: 7rem;
    }
}

